
@{
    ViewData["Title"] = "Index";
    
}
<h1>Crud Operations by using Ajax and JQuery</h1>
<button class="btn btn-primary m-2" id="btnAddEmployees">Add Employee</button>

<table class="table table-bordered">
    <thead>
        <tr class="text-center">
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
            <th>Salary</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody class="text-center" id="table_data"></tbody>
</table>
<div class="modal fade modal" id="EmployeeModalid">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-info modal-title">Add Employee</h1>
                <button class="close text-danger" onclick="HideModalPopUp()">&times;</button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group" id="EmployeeId">
                        <label>Id</label>
                        <input type="text" class="form-control" id="empId"  disabled="disabled"/>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" placeholder="Enter your name" class="form-control" id="Name" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" placeholder="Enter your city" class="form-control" id="City" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <input type="text" placeholder="Enter your State" class="form-control" id="State" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label>Salary</label>
                        <input type="text" placeholder="Enter your Salary" class="form-control" id="Salary" autocomplete="off" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="AddEmployees();" id="AddEmployeeDetails">Save</button>
                <button class="btn btn-warning" onclick="UpdateEmployee()" style="display:none;" id="btnUpdate">Update</button>
                <button class="btn btn-danger btn-default" onclick="HideModalPopUp()">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/custom.js"></script>